h1{
  text-align:center;
  font-size:24px;
}
#p{
  font-size: 19.2;
}
#biography:link {
  color:blueviolet;
}
#bigraphy:visited {
  color:dimgray;
}
#novadays:link {
  color:deeppink;
}
#novadays:visited {
  color:cornflowerblue;
}
#friends:link {
  color:mediumblue;

 }
#friends:visited {
  color:palevioletred;
 }
#gallery:link {
  color:brown
}
#gallery:visited {
  color:cadetblue
}

.caption{
  width: 100%;
    display: flex;
    text-align: center;

}
.tabl {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
}
a {
  font-size: 34px;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .col-lg-4 {
      width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .caption{
      flex-wrap: wrap;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-12 {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .caption {
      flex-direction: column;
  }

  .col-sm-12 {
      width: 100%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}