h1{
  text-align: center;
  font-size: 22px;
}
#back{
  font-style:italic;
}
h2{
  text-align: center;
}
#frnd{
  text-align: center;
  background: green;
  color:gold;
  font-weight:bold;
}
.number {
 text-align:right
}
table {
 width: 100%;
 border-collapse: collapse;
 border: 2px solid black;
}
th, td {
 text-align: center;
 border:2px solid black;
 padding: 1%;
 min-width: 80px;
}
.frd:nth-child(odd) {
 background: gray;
}