h1{
  text-align: center;
  font-size: 22px;
}
#back{
  font-style:italic;
}
h2{
  text-align: center;
}
#frnd{
  text-align: center;
  background: green;
  color:gold;
  font-weight:bold;
}
.number {
 text-align:center
}
table {
 width: 100%;
 border-collapse: collapse;
 border: 2px solid black;
}
th, td {
 text-align: center;
 border:2px solid black;
 padding: 1%;
 min-width: 80px;
}
.frd:nth-child(odd) {
 background: gray;
}
@media (min-width: 992px){
  #frnd{
    
      font-size: 130%;
  }
  #frd{
    
      font-size: 120%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #frnd{
      font-size: 120%;
  }
  #frd{
   
      font-size: 110%;
  }
}
@media (max-width: 767px) {
  #frnd{
      font-size: 110%;
  }
}